<script src="/javascripts/dataform.js"></script>

<form class="formulario" id="form" action="sendData" method="post">
  <ul>
    <li>
      <label for="name">Nombre:</label>
      <input type="text" id="name" name="nombre" />
    </li>
    <li>
      <label for="mail">Correo electrónico:</label>
      <input type="text" id="mail" name="email" />
    </li>
    <li>
      <label for="comentario">Mensaje:</label>
      <textarea id="comentario" name="comentario"></textarea>
    </li>
    <li>
      <input type="submit" value="Enviar">
    </li>
  </ul>
</form>
