
<%- include('./index.ejs'); %>
<body>
  <div class="cuadro">
    <h1><%= title %></h1>
    <span>Estudiante de Ingenieria en Sistemas de la UNERG</span>
    <div class="foto">
      <div class="container-anchor">
        <a
          target="_blank"
          href="https://www.facebook.com/luisdaniel.farias.98?mibextid=ZbWKwL"
          ><svg viewBox="0 0 36 36" fill="url(#a)" height="40" width="40">
            <defs>
              <linearGradient x1="50%" x2="50%" y1="97.078%" y2="0%" id="a">
                <stop offset="0%" stop-color="#0062E0" />
                <stop offset="100%" stop-color="#19AFFF" />
              </linearGradient>
            </defs>
            <path
              d="M15 35.8C6.5 34.3 0 26.9 0 18 0 8.1 8.1 0 18 0s18 8.1 18 18c0 8.9-6.5 16.3-15 17.8l-1-.8h-4l-1 .8z"
            />
            <path
              fill="#FFF"
              d="m25 23 .8-5H21v-3.5c0-1.4.5-2.5 2.7-2.5H26V7.4c-1.3-.2-2.7-.4-4-.4-4.1 0-7 2.5-7 7v4h-4.5v5H15v12.7c1 .2 2 .3 3 .3s2-.1 3-.3V23h4z"
            /></svg></a>
        <a
          target="_blank"
          href="https://youtube.com/@luisfarias1549?si=IkxAtxJxBtkQqjD6"
          ><svg
            viewBox="0 0 256 180"
            width="40"
            height="40"
            xmlns="http://www.w3.org/2000/svg"
            preserveAspectRatio="xMidYMid"
          >
            <path
              d="M250.346 28.075A32.18 32.18 0 0 0 227.69 5.418C207.824 0 127.87 0 127.87 0S47.912.164 28.046 5.582A32.18 32.18 0 0 0 5.39 28.24c-6.009 35.298-8.34 89.084.165 122.97a32.18 32.18 0 0 0 22.656 22.657c19.866 5.418 99.822 5.418 99.822 5.418s79.955 0 99.82-5.418a32.18 32.18 0 0 0 22.657-22.657c6.338-35.348 8.291-89.1-.164-123.134Z"
              fill="red"
            />
            <path
              fill="#FFF"
              d="m102.421 128.06 66.328-38.418-66.328-38.418z"
            /></svg></a>
      </div>
      <div class="container-foto">
        <img src="/images/fotoluis.jpg" alt="Foto de Luis Farias" />
      </div>
    </div>
    <main>
      <article>
        <h3>Sobre Mi</h3>
        <p>
          Mi nombre es Luis Farias y actualmente soy formador del Sistema
          Nacional de Orquestas en el Estado Guárico, Contrabajista de la
          Orquesta profesional Henry Rubio y estudiante.
        </p>
      </article>

      <article>
        <h3>Formacion Academica</h3>
        <ul>
          <li>Formación básica en la escuela "Monseñor Crespo" - 2012</li>
          <li>Formación secundaria en el liceo "Simón Rodríguez" - 2018</li>
        </ul>
      </article>

      <article>
        <h3>Experiencia Laboral</h3>
        <ul>
          <li>
            Reparacion y Mantenimiento de Lanchas Deportivas en Fibra de Vidrio.
          </li>
          <li>Orquestacion y Ejecucion Musical.</li>
        </ul>
      </article>

      <article>
        <h3>Habilidades y Destrezas</h3>
        <ul>
          <li>Lenguaje Musical.</li>
          <li>Oido Musical.</li>
        </ul>
      </article>
    </main>
  </div>

  <div><%- include('./partials/form'); %></div>
</body>
