<%- include('./index.ejs'); %>
<link rel="stylesheet" href="/stylesheets/error.css" />


<section class="error-container">
    <h1><%= title %></h1>
	<span><span>4</span></span>
	<span>0</span>
	<span><span>4</span></span>

</section>



<div class="return"><a href="/">Regresar</a></div>


