body {
  display: flex;
  gap: 30px;
  background-color: #e4e4e4fe;
  font: 14px 'Lucida Grande', Helvetica, Arial, sans-serif;
  justify-content: center;
  align-content: center;
  margin: 0;
  color: black;
  box-sizing: border-box;
}

h1 {
  margin-top: 0px   ;
  margin-bottom: 5px;
  font-size: 60px;
}

.container-foto {
  padding-left: 267px;
}

a {
  margin: 16px;
  margin-top: 8px;
  color: black;
  text-decoration: none;
}

span {
  display: block;
}

li {
  list-style: none;
  margin-bottom: 3px;
}

ul {
  padding: 0;
}
.cuadro {
  z-index: 30;
  padding: 60px;
  padding-top: 0;
  padding-bottom: 0;
  height: 100vh;
  border-left: 1px solid black;
  border-right: 1px solid black;
  box-shadow: 3px 1px rgba(0, 0, 0, 0.228);
}

h3 {
  font-size: 18px;
  margin-bottom: 0px;
}

.foto {
  display: flex;
}

main {
  display: flex;
  flex-direction: column;
}

article {
  max-inline-size: 80ch;
  text-wrap: balance;
}

img {
  width: 80px;
  height: 100px;
}

.container-anchor {
  display: flex;
}

.formulario {
  display: flex;
  justify-content: end;
  border: 1px solid black;
  margin-top: 20px;
  padding: 20px;
  border-radius: 7px;
  box-shadow: 3px 3px rgba(0, 0, 0, 0.228);
}

li {
  display: flex;
  flex-direction: column;
}

label {
  text-wrap: balance;
}

.listForm {
  display: flex;
  flex-direction: column;
}
